# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
android/app/debug
android/app/profile
android/app/release

# IDE and OS
.idea/
*.iml
*.log
.vscode/
.DS_Store

# Firebase & Credentials
serviceAccountKey.json

# Other
*.tmp
*.swp
